.card-table {
  display: flex;
  flex-direction: column;
  align-items: top;;
  justify-content: center;
}

.tracker {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.player-tracker {
  margin-top: 10px;
}

.guess-tracker {
  height: 40px;
  padding: 10px 0;
}

.guess-status {
  font-size: 16px;
}

.player-tracker > .player {
  padding: 10px 50px;
  font-size: 20px;
  border-bottom: 4px solid #337ab7;
}

.player-tracker > .player-active {
  background-color: #337ab7;
  color: #fff;
}

.guess-status, .player {
  cursor: pointer;
}

.play-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.error-message-container {
  display: flex;
  justify-content: center;
}

.card-piles {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.card-piles > .card:last-of-type {
  margin-light: 10px;
}

.card-piles > .card:first-of-type {
  margin-right: 10px;
}

.card-piles > label {
  text-align: center;
}

.card {
  max-width: 226px;
  max-height: 314px;
  width: 40vw;
}

.card > img {
  max-width: 100%;
}

.draw-pile, .discard-pile {
  max-width: 226px;
  max-height: 314px;
  width: 40vw;
}

.discard-pile {
  margin-right: 10px;
}

.draw-pile {
  margin-left: 10px;
}

.discard-pile, .draw-pile {
  cursor: pointer;
}

.actions-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.actions-row button {
  margin: 20px 10px 0 10px;
  min-width: 100px;
}
